.UserDashboard {
    color: white;
    

    &__dashboardNavigationBtns {
        background-color: red;
        width: 60%;
        height: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
}