#homeImg{
    width: 95%;
    border: ridge rgb(172, 146, 85) 3px;
    border-radius: 20px;
    margin-top: 1.8%;
}

.devsPhoto{
    width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: 3%;
        margin-bottom: 5%;
        border: ridge rgb(172, 146, 85) 4px;
        border-radius: 50%;
    }


.portrait {
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
border: ridge rgb(172, 146, 85) 4px;
border-radius: 25px;}

    