
.ArtworkDetails{
color: white;



    &__caption{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }

         &__image {
             width: 75%;
             border-radius: 25px;
             border: ridge rgb(172, 146, 85) 2px;
         }

    &__details {
    display: grid;
        grid-template-rows: max-content;
        row-gap: 1em;
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
    }

        &__showPageButtons {
            margin-left: auto;
            margin-right: auto;
        }

                &__heading {
                    margin-top: 2%;
                    font-family: Eagle Lake;
                    font-weight: bold;
                    font-size: 1.7em;
                    text-decoration: underline;
                }
}








