.ArtworkCard {
width: 100%;
padding-top: 5%;
padding-bottom: 5%;
/* border: ridge 3px goldenrod; */
border-radius: 25px;

}

.galleryImage {
    width: 80%;
    border: ridge rgb(172, 146, 85) 4px;
    border-radius: 25px;
}

.seeArtworkDetails {
    width: 100px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border: ridge rgb(172, 146, 85) 4px;
    padding: 2%;
    background-image: linear-gradient(to bottom right, rgb(192, 136, 155), rgba(108, 170, 212, 0.794));
    color: white;
    font-family: roboto;
    font-size: large;
    box-shadow: 3px 3px 3px GREY;
    border-radius: 25px;

}