.ArtworkCard {
width: 90%;
/* padding-top: 5%; */
/* padding-bottom: 5%; */
/* border: ridge 3px goldenrod; */
position: relative;
text-align: center;
color: white;


}

.galleryImage {
    width: 90%;
    border: ridge rgb(95, 86, 67) 2.5px;
    border-radius: 10px;
   

}

.galleryImage:hover {
opacity: .3;
transform: scale(1.2);
rotate: 4.1deg;
}

.galleryImage:hover + .artWorkCard__details {
    display: block;
}

.artWorkCard__details{
    display: none;
  position: absolute;
  width: 80%;
  bottom: 15%;
  right: 10%;  
}

.seeArtworkDetails {
    width: 100px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border: ridge rgb(172, 146, 85) 4px;
    padding: 2%;
    background-image: linear-gradient(to bottom right, rgb(192, 136, 155), rgba(108, 170, 212, 0.794));
    color: white;
    font-family: roboto;
    font-size: large;
    box-shadow: 3px 3px 3px GREY;
    border-radius: 25px;

}