.Gallery {
margin-left: 8%;

& select {
    height: 32px;
    border-radius: 7px;
}


&__inputs {
    display: flex;
}

    &__data{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    row-gap: 5rem;
    margin-top: 5%;
    }
    
}