.NavBar {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-bottom: 1%;
    background-image: url("../assets/navBar2.jpg");
    background-repeat: initial;
    border-bottom: ridge rgb(95, 86, 67) 2px;
    font-family: 'Eagle Lake';


    

    &__dashboardBtn {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        font-weight: bold;
    }

  

    &__logo {
        display: inline-block;
        height: 100px;
        width: 80px;
        margin: .5%;
        border: ridge rgb(132, 112, 69) 2px;
        border-radius: 50%;
    }

   


    &__headerTextAndnavigationButtonsContainer {
      
        width: 25%;
        height: 100%;

        &__headerText {
                display: inline-block;
                width: 100%;
                font-size: 2rem;
                font-weight: bold;
                text-wrap: nowrap;
                text-decoration:underline;
                padding: 1%;
                padding-left: 2%;
                padding-right: 2%;
                border-radius: 15px;
                color: white;
                
      
  
        
            }
        
            &__headerText:hover {
                transform: scale(1);
                rotate: 4deg;
                cursor: pointer;
                color: #cd9a2b;
            }



        &__navigationButtonsContainer {
       
           
       




            &__navigationButtons {
                    display: flex;
                    width: 90%;
                  
                }


        }




        

        


      

    }

    

   


    
    // MEDIA QUERIES

    @media screen and (max-width: 768px) {
     
        &__logo {
            
                height: 75px;
                width: 55px;
                margin: .5%;
                margin-left: 12%;
                
             
            }



        &__headerTextAndnavigationButtonsContainer {


            &__headerText {
                font-size: 1.5rem;
        
            }

            &__navigationButtonsContainer {
                    margin-left: auto;
                
            
            
            
            
                    &__navigationButtons {
                        display: flex;
            
                        width: 100%;

                        & button {
                            width: 100%;
                            font-size: .6em;
                        }
            
                    }
            
            
                }
        }



                
     







    }



}




