.NavBar {
    display: flex;
    flex-flow: wrap;
    width: 100vw;
    min-height: 120px;
    margin-bottom: 1%;
    background-image: url("../assets/navBarBG.jpg");
    background-repeat: initial;
    

    color: white;
    border-bottom: ridge rgb(95, 86, 67) 2.5px;
    font-family: 'Eagle Lake';
}

.NavBar a {
    width: 100%;
    text-decoration: none;
    color: white;
}

.NavBar button {
    font-size: small;
}



.navBarLogo{
display: block ;
height: 85%;
width: 10%;
min-width: 100px;
min-width: 80px;
border: ridge rgb(132, 112, 69) 2px;
border-radius: 50%;
}

// logo and header text are children
.navBarHeader{
width: 10%;
min-width: 300px;
display: flex;
margin-left: 2%;
margin-top: auto;
margin-bottom: auto;
margin-right: 15%;

}


.navBarHeaderText {
margin-left: 5%;
margin-right: 10%;
margin-top: auto;
margin-bottom: auto;
font-size: 1.4rem;
background-color: rgb(102, 24, 24);
padding: 1.8%;
border-radius: 20px;
border: ridge rgb(116, 102, 69) 2px;
text-align: center;
color: white;
}

.navBarHeaderText {
    width: 100%;
    padding: 1%;
    min-width: 200px;
}

.navBarButtons {
display: flex;
width: 20%;
height: 30%;
justify-content: center;
margin-top: auto;
margin-bottom: auto;
}



.navBarHeaderText:hover {
    transform: scale(1);
    rotate: 4deg;
    cursor: pointer;
}


// MEDIA QUERIES

@media screen and (max-width: 768px) {
    .NavBar h1 {
    font-size: 1rem;
    padding: 5%;
    }

        .navBarHeader {
        width: 5%;
        margin-right: -28%;
        
        
        }

        .navBarHeaderText {
            font-size: 1.1rem;
            padding-left: 3%;
            padding-right: 3%;
        }

                .navBarButtons {
                margin-top: 10%;
                
               
                 
        
                }

    // #homeBtn, #aboutBtn{
    // font-size: 1.5rem;
    // padding: 5%;
    // }





}