.UnderConstruction {
    color: white;
    font-family: Eagle Lake;
    font-size: 1.2em;

    &__image {
            width: 47%;
            border: ridge rgb(129, 109, 65) 2.5px;
            border-radius: 20px;
        }
    
    &__backButton {
        margin-left: .5%;
        padding-left: .8%;
        padding-right: .8%;
        border: ridge rgb(132, 112, 69) 2px;
        background-color: rgb(88, 26, 26);
        color: white;
        font-size: .8em;
        -webkit-transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out;
    }



    &__mainMessage, &__backButton {
        display: inline-block;
    }

    &__backButton:hover {
        transform: scale(1);
            rotate: 4deg;
            cursor: pointer;
    }
}