
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
    background-image: url("./assets/dirty-tiles.jpg");
}

.Artwork, .Gallery, .About {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    background-image: linear-gradient(to bottom right, rgb(130, 103, 112), rgba(108, 170, 212, 0.794));
    border: ridge rgb(129, 110, 64) 4px;
    border-radius: 25px;
    padding: 1%;
    color: white;
    box-shadow: 15px 15px 15px 7px GREY;
}



.Comments, .header {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    background-image: linear-gradient(to bottom right, rgb(182, 123, 143), rgba(25, 130, 200, 0.794));
    border: ridge rgb(172, 146, 85) 4px;
    border-radius: 25px;
    padding: 1%;
    font-family: 'Lumanosimo', cursive;
    font-size: 1.3em;
    color: white;
    box-shadow: 15px 15px 15px 7px GREY;
}



.ShowPageButtons {
    margin-left: auto;
    margin-right: auto;
    
    
    
}

#submit{
    border-radius: 25px;
    font-family: roboto;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    border: ridge 3px goldenrod;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding: 8px;
    box-shadow: 5px 5px 5px 5px GREY;
    
}

#galleryBtn, #deleteCommentBtn{
    margin-right: .5%;
    margin-bottom: 3%;
    border: ridge 3px goldenrod;
background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    color: white;
    font-family: 'Lumanosimo', cursive;
    font-size: large;
    box-shadow: 7px 7px 7px 7px GREY;
    
}
#commentBtn, #editCommentBtn{
    margin-left: .5%;
    margin-bottom: 3%;
    border: ridge 3px goldenrod;
    background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    color: white;
    font-family: 'Lumanosimo', cursive;
    font-weight: bold;
    font-size: large;
    box-shadow: 7px 7px 7px 7px GREY;
}


#artworkImage{
    width: 70%;
    border-radius: 25px;
    border: ridge 3px goldenrod;
    
}



input{
    margin-bottom: 3%;
    margin-right: 3%;
   
}

label{
    margin-left: 2%;
        
}
button{
    border-radius: 25px;
    
}


