*,
*::before,
*::after {
    box-sizing: border-box;
}

.applyBorder {
    border: ridge rgb(132, 112, 69) 1px;
    border-radius: 4px;
 
}

.applyBorderBtns {
    border: 1px ridge rgb(132, 112, 69);
    border-radius: 25px;

}


body {
    margin: 0;
    color: rgb(244, 240, 240);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(35, 33, 33);
    background-image: linear-gradient( to right, rgb(44, 42, 42), rgb(52, 49, 49), rgb(17, 25, 25));
}

input {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

label {
    margin-left: .5rem;
}

button {
    // border-radius: 50px;
    margin-left: .5%;
    margin-bottom: 3%;
    // border: ridge rgb(132, 112, 69) 2.5px;
    background-color: rgb(88, 26, 26);
    color: rgb(244, 240, 240);
    font-family: 'Eagle Lake';
    font-size: small;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
    // text-wrap: nowrap;
    cursor: pointer;

}

button:hover {
    transform: rotate(4deg) scale(1.03);
    
    cursor: pointer;
    color: #cd9a2b;
}



.Artwork, .Gallery__Data, .About {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 25px;
    padding: 1%;
    color: white;
}



.Comments, .header {

   
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 1%;
    font-family: 'Eagle Lake', cursive;
    font-size: 1.8em;
    color: rgb(244, 240, 240);
    text-wrap: nowrap;

}

 @media screen and (max-width: 768px) {
    .header{
        font-size: 1.5em;
        text-wrap: nowrap;
        

   
    
        
    }
  }

// .submitBtn{
//     border-radius: 25px;
//     font-family: 'Eagle Lake';
//     color: white;
//     background-color: rgb(88, 26, 26);
//     border: ridge rgb(132, 112, 69) 2px;
//     margin-left: auto;
//     margin-right: auto;
//     font-size: x-large;
//     padding: 8px;
// }

// .galleryBtn, .deleteCommentBtn, .addToCartBtn {
//     margin-right: .5%;
//     margin-bottom: 3%;
//     border: ridge rgb(132, 112, 69) 2px;
//     background-color: rgb(88, 26, 26);
//     color: white;
//     font-family: 'Eagle Lake';
//     /* font-weight: bold; */
//     font-size: large; 
//     -webkit-transition: transform 2s ease-in-out;
//             transition: transform 2s ease-in-out;
// }
// .commentBtn, .editCommentBtn{
//     margin-left: .5%;
//     margin-bottom: 3%;
//     border: ridge rgb(132, 112, 69) 2px;
//     background-color: rgb(88, 26, 26);
//     color: white;
//     font-family: 'Eagle Lake';
//     /* font-weight: bold; */
//     font-size: large;
//     -webkit-transition: transform 2s ease-in-out;
//             transition: transform 2s ease-in-out;
// }

// .commentBtn:hover, .editCommentBtn:hover, .galleryBtn:hover,
// .deleteCommentBtn:hover, .addToCartBtn:hover {
//     transform: scale(1);
//     rotate: 4deg;
//     cursor: pointer;
// }






