body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: roboto;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(35, 33, 33);
}

.Artwork, .Gallery, .About {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 25px;
    padding: 1%;
    color: white;
}



.Comments, .header {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 25px;
    padding: 1%;
    font-family: 'Eagle Lake', cursive;
    font-size: 1.3em;
    color: white;
}

.submitBtn{
    border-radius: 25px;
    font-family: 'Eagle Lake';
    color: white;
    background-color: rgb(102, 24, 24);
    border: ridge rgb(132, 112, 69) 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding: 8px;
}

.galleryBtn, .deleteCommentBtn {
    margin-right: .5%;
    margin-bottom: 3%;
    border: ridge rgb(132, 112, 69) 2px;
    background-color: rgb(102, 24, 24);
    color: white;
    font-family: 'Eagle Lake';
    font-weight: bold;
    font-size: large; 
}
.commentBtn, .editCommentBtn{
    margin-left: .5%;
    margin-bottom: 3%;
    border: ridge rgb(132, 112, 69) 2px;
    background-color: rgb(102, 24, 24);
    color: white;
    font-family: 'Eagle Lake';
    font-weight: bold;
    font-size: large;
}

.commentBtn:hover, .editCommentBtn:hover, .galleryBtn:hover,
.deleteCommentBtn:hover {
    transform: scale(1);
    rotate: 4deg;
    cursor: pointer;
}




input{
    margin-bottom: 3%;
    margin-right: 3%;
}

label{
    margin-left: 2%;
        
}
button{
    border-radius: 50px;
    
}


