body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
background-color: rgb(233, 175, 142);
    
}

.description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    border: ridge goldenrod 4px;
    border-radius: 25px;
    padding: 1%;
    color: white;
    
}

.ShowPageButtons {
    margin-left: auto;
    margin-right: auto;
    
    
}

#submit{
    border-radius: 25px;
    font-family: roboto;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    border: ridge 3px goldenrod;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding: 8px;
    
}

#galleryBtn, #deleteCommentBtn{
    margin-right: .5%;
    margin-bottom: 3%;
    border: ridge 3px goldenrod;
background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    color: white;
    font-family: roboto;
    font-size: medium;
    
}
#commentBtn, #editCommentBtn{
    margin-left: .5%;
    margin-bottom: 3%;
    border: ridge 3px goldenrod;
    background-image: linear-gradient(to bottom right, rgb(196, 54, 92), rgba(25, 200, 194, 0.794));
    color: white;
    font-family: roboto;
    font-size: large;
}

input{
    margin-bottom: 3%;
    margin-right: 3%;
   
}

label{
    margin-left: 2%;
        
}
button{
    border-radius: 25px;
    
}


